.sort {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px; 
}

.sortBtn {
    border-radius: 25px;

    padding: 12px 16px;
    border: none;
    font-size: 1.3rem;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
    }
}

.enable { 
    background-color: #fff;
    color: #000;
}

